@media screen and (min-width:@screen-sm-min) {
  .navbar-nav {
    float: right;
  }
}
@media screen and (min-width:@screen-md-min) {
  .navbar {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
  .navbar {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: @screen-xs-max){
  .navbar-header {
    border-bottom: 3px dashed #ddd;
  }
}

.navbar {
  font-weight: 900;
  .tight-text;
}

.navbar-nav {
  > li > .dropdown-menu {
    border-radius: 4px;
  }

  > li:last-child > .dropdown-menu {
    left: auto;
    right: 0;
  }
  > li:last-child > .dropdown-toggle {
    padding-right: 0;
  }
}

.navbar-default .navbar-brand {
  color: @header-navbar-brand-color;
}
