@media screen and (min-width:@screen-md-min) {
  .navbar {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .navbar-nav {
    float: right;
  }
}

@media screen and (max-width: @screen-xs-max){
  .navbar-header {
    border-bottom: 3px dashed #ddd;
  }
}

.navbar-nav {
  > li > .dropdown-menu {
    border-radius: 4px;
  }

  > li:last-child > .dropdown-menu {
    left: auto;
    right: 0;
  }
}
