main {
  header {
    time {
      color: @gray-light;
      font-size: 0.7em;
      text-transform: uppercase;
    }
    .byline {
      height: 0;
      overflow: hidden;
    }
    + .entry-content {
      margin-top: 40px;
    }
  }
}

.entry-title {
  font-weight: 900;
  .tight-text;
}

.entry-headline {
  color: @gray;
  .tight-text;
}

.entry-content {
  img {
    max-width: 100%;
  }
  word-break: keep-all;
  + footer {
    margin-top: 40px;
  }
}

.author-meta {
  border: 1px solid @gray-lighter;
  padding: 20px;
  border-radius: 5px;
  .clearfix;
  .author-profile {
    float: left;
  }
  .author-detail {
    margin-left: @grid-gutter-width + @author-profile-size;
    .author-name {
      font-weight: bold;
    }
    p {
      margin: 0;
      font-size: 0.8em;
    }
  }
  img {
    max-width: @author-profile-size;
    max-height: @author-profile-size;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
  }
}

.comments {
  max-width: 600px;
  margin: 50px auto;
  font-size: 0.8em;
  h2 {
    font-size: 1.8em;
    font-weight: 900;
    .tight-text;
    margin-bottom: 20px;
  }
  .comment-meta {
    margin-bottom: 5px;
  }
  .comment-metadata {
    float: right;
    margin-top: -27px;
    font-size: 0.8em;
    .edit-link:before {
      content: "|";
      margin: 0 5px 0 2px;
      color: @gray-lighter;
    }
  }
}

.comment-respond {
  border-top: 3px dashed @gray-lighter;
  margin-top: 60px;
  font-size: 0.8em;
  h3 {
    font-size: 1.8em;
    font-weight: 900;
    .tight-text;
    margin-bottom: 20px;
  }
  input[type=submit] {
    font-size: 13px;
  }
}